@model IEnumerable<DataAccess.Domain.ExchangeRate>

@{
    ViewBag.Title = "ExchangeRateDetail";
}

<h2>Exchange Rate Detail</h2>

<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Timestamp)</th>
        <th>@Html.DisplayNameFor(model => model.CurrencyName)</th>
        <th>@Html.DisplayNameFor(model => model.Rate)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
        <td>@Html.DisplayFor(modelItem => item.CurrencyName)</td>
        <td>@Html.DisplayFor(modelItem => item.Rate)</td>
    </tr>
}

</table>
